.NavigationIteam{
    margin: 10px 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.NavigationIteam a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: flex;

}
.NavigationIteam a:hover,
.NavigationIteam a:active,
.NavigationIteam a.active{
    background-color: #CF8F2E !important;
    border-bottom: 4px solid silver !important;


}
@media (min-width:500px){
    .NavigationIteam{
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        width: auto;
        height: 100%;
    }
    .NavigationIteam a{
        color: white;

        height: 100%;
        padding: 16px 10px;
        display: flex;
    
    }
    .NavigationIteam a:hover,
    .NavigationIteam a:active,
    .NavigationIteam a.active{
        background-color: #CF8F2E !important;
        border-bottom: 4px solid silver !important;
    
    
    }

}